<%- include("header") -%>

    <div class="row m-5">

        <form action="/compose" method="post">

            <div class="col-12 mb-4">
                <input type="text" class="form-control" name="title" placeholder="Title">

            </div>

            <div class="col-12 mb-4">
                <textarea class="form-control" type="text" name="data" placeholder="text"></textarea>

            </div>

            <div class="col-12">
                <input class="btn btn-primary" type="submit" value="add" name="submit">
            </div>
        </form>

        <!-- <input class="form-control" type="text">
        <input class="btn btn-primary" type="button" value="add"> -->
    </div>

    <%- include("footer") -%>